#Info{
    padding: 100px 0;
    background-color: rgb(44,62,80);
}


#Info ul li{

    width: 50px;
    height: 50px;
    border:1px solid;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    transition: all 0.5s ease;
}

#Info ul li a{
    color: white;
    transition: all 0.5s ease;
}

#Info ul li:hover{
    background-color: white;
    a{
        color: black;
    }
}