#detail {
  background-color: rgba(0, 0, 0, 0.7);
}

.closeIcon {
  top: 17px;
  right: 22px;
}

.closeIcon:hover {
  cursor: pointer;
}


#detail span{
  cursor: pointer;
}


@media screen and (max-width: 499px) {
  #detail .row .bg-white {

    width: 90%;
    /* margin: 0 auto; */
    margin-left: auto;
    margin-right: auto;

  }
}