header{
    background-color: rgb(26,188,156);
    justify-content: end;
    align-items: center;
}

header img{
    width: 250px;
}

header h1{
    font-size: 64px;
}

@media screen and (max-width: 991px) {
    header {
        justify-content: center;
        align-items: center;
    }
}